<% provide(:title, 'Austin') %>
<div class="container">
  <div class="featuredBlock">
	  <div class="featuredContainerRight">
	    <div class="featuredHeading">
	      <h3>
          <span>Texan Defender</span>
          <span class="featuredCity">Georgetown</span>
        </h3>
        <h1>$89 for a Concealed Handgun License course ($299 value)</h1>	  
        <div class="featuredBanner">
          <div class="featuredButton">      	
            <div class="btn-toolbar">
              <div class="btn-group">
                <%= link_to "Buy now | $89", '#', class: "btn btn-danger" %>
              </div>
              <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                  1 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <% 3.times do |i| %>
                  <li><%= link_to i+1, '#' %></li>
                  <% end %>	  	                  
                </ul>              
              </div>            
            </div>
          </div>
          <div class="featuredArrowContainer">
            <div class="featuredArrow"></div>
            <div class="text featuredArrowText">70% off</div>
            <div class="featuredRightFold"></div>
          </div>
        </div>
        <div class="featuredLeftFold"></div>
        <div class="featuredPoints">
         <ul>
            <li>Learn everything you need to know in order to carry a concealed handgun</li>
            <li>10-hr class includes instruction, range qualification, range fee, review of paperwork, test, and a free loaner gun for the range</li>
            <li>Covers use of force, gun safety and storage, dispute resolution, and Texas gun laws</li>
          </ul>    	
        </div>
	    </div>
      <div class="featuredDetails">
        <div>
          <h3>Offer Details</h3>
          <ul class="featuredList">
          	<li>
          	  <div class="floatLeft"><i class="icon-tag"></i></div>
          	  <span class="rowName">Discount :</span>
              <span class="rowValue">70 %</span>              
          	</li>           
            <li>
              <div class="floatLeft"><i class="icon-time"></i></div>
              <span class="rowName">Time left to buy :</span>
              <span class="rowValue">3 days 4:52:10</span>              
            </li>
            <li>
              <div class="floatLeft"><i class="icon-calendar"></i></div>
              <span class="rowName">Redeem  :</span>
              <span class="rowValue">Sep 1, 2012 - Jan 4, 2013</span>              
            </li>            
            <li>
              <div class="floatLeft"><i class="icon-star"></i></div>
              <span class="rowName">Presented By :</span>
              <span class="rowValue">GoBird</span>              
            </li> 
            <li>
              <div class="floatLeft"><i class="icon-share"></i></div>
              <span class="rowName">Share :</span>
              <span class="rowValue"></span>              
            </li>             
          </ul>
        </div>
        <div>
          <h3>The Deal</h3>
          <p>Get everything you need to receive your Concealed Handgun License with today's deal: $89 for a 10-hour Concealed Handgun License course. No matter what your skill level, these gun-totin’ know-it-alls can make sure you’re ready to go by offering everything from instruction and range qualification (they offer free loaner guns if you need one) to a thorough review of your paperwork, and they’ll even administer your CHL test. You’ll learn all the finer points of handling your weapon, like gun safety and storage and gun laws, and even fire off a few rounds on the range while under the supervision of a trained professional.</p> 
        </div>
      </div>
    </div>

    <div class="featuredContainerLeft">
      <%= link_to image_tag("featured1.png", alt: "Featured", class: "featuredImage"), root_path %>
      <div class="featuredAddressContainer">
        <h3>Where to redeem</h3>
        <div class="mapContainer">
          <div class="addressesContainer">
            <div class="addressName">Texan Defender</div>
              <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=2001+Brushy+Street+Georgetown,+Texas+78626+&amp;aq=&amp;sll=35.299435,-119.311523&amp;sspn=11.360081,23.181152&amp;ie=UTF8&amp;hq=&amp;hnear=2001+Brushy+St,+Georgetown,+Texas+78626&amp;ll=30.626088,-97.677886&amp;spn=0.046826,0.090551&amp;t=m&amp;z=14&amp;output=embed"></iframe>
            <%= link_to "www.texandefender.com", 'http://www.texandefender.com', class: "addressLink" %>
            <div class="addressPost">
              2001 Brushy Street<br>
              Georgetown, Texas 78626<br>
              (512) 508-1029
            </div>
          </div>
        </div>
      </div>
    </div>    

  	<div class="featuredTermsContainer">
        <div>
        	<span>Limit 1 voucher per person. May purchase additional as gift (limit 2 vouchers per purchase). All participants must sign up prior to  attending class; please call (512) 508-1029 to reserve a spot. No range fees; deal includes a free weapon rental and free eye/ear protection for the range. Ammo is available for purchase or you can bring your own.
        	</span> 
        	<a target="_blank" href="#rules"> See the rules that apply to all offers&nbsp;» </a> 
        </div>
  	</div>	
  </div>
</div>	

<div class="container">
  <div class="offerBlock">
    <div class="offerTop">
      <span>More Offers -</span>
      <%= link_to "See all", '#' %>
    </div>
    <% 12.times do |i| %>
        <%pic = "offer" + (i+1).to_s + ".jpg" %>
	  	<div class="offerContainer">
	  	  <div class="offerPic">
            <%= link_to image_tag(pic, alt: "Google Offers"), root_path, class: "aCursor" %>	            
	  	  </div>
	  	  <div class="offerDetails">
	  	  	<div>
		  	  <span class="offerName">Grand Palladium Vallarta Resort &amp Spa</span>
		  	</div>
		  	<div>
		  	  <%= link_to "75% off at Grand Palladium Vallarta Resort & Spa", '#', class: "aDetails" %>
		  	</div>
		  	<div class="offerCity">
		  	  <span>Austin</span>
		  	</div>
	  	  </div>
	  	</div>
    <% end %>	  	  
  	<div class="offerBottom">
      <%= link_to "See All Offers", '#' %>
  	</div>    	
  </div> 
</div>
