<div class="container">
  <div class="footerBlock">
  	<div id="footerLeft">
  	  <div class="bottonWithText">
  	    <%= link_to "Subscribe", '#', class: "btn btn-info" %>
  	  </div>
  	  <span>Subscribe to get great Austin local offers and holiday offers from national merchants.</span>
    </div>
    <div id="footerRight">
      <ul>
      	<li><%= link_to "Feature Offers", '#' %></li>
      	<li><%= link_to "All Offers", '#' %></li>
      	<li><%= link_to "My Offers", '#' %></li>      	      	
      </ul>
      <ul>
      	<li><%= link_to "Active", '#' %></li>
      	<li><%= link_to "Used and Expired", '#' %></li>
      </ul>
      <ul>
      	<li><%= link_to "How it works", '#' %></li>
      	<li><%= link_to "Help", '#' %></li>
      </ul>
    </div>
    <div id="footerBottom"
      <small>
        <span>&copy;2012 GoBird Offers</span>
      </small>
    </div>
  </div>
</div>
